@import "tailwindcss";

:root {
  --background: #ececec;
  --foreground: #4d4d4d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeUp {
  0% {
    scale: 90%;
    transform: translateY(6vw);
    opacity: 0;
  }
  100% {
    scale: 104%;
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-up {
  animation: fadeUp 1.5s ease-out forwards;
}
